$transparent = rgba($white, 0)
$transparency = 30%

// base theme color
$background = $base-white
$font-color = $base-black
$button-color = $background
$button-font-color = $dark-base-color
$button-border-color = $button-font-color
$button-hover-color = $button-border-color
$button-hover-font-color = $button-color
$border-color = alpha($dark-base-color, $transparency)
$link-color = $dark-base-color
$visited-link-color = $dark-accent

// nav theme color
$nav-background = $dark-base-color
$nav-link-color = $base-white

if $lite-accent-is-dark
  $nav-active-color = $base-offwhite
else
  $nav-active-color = $lite-accent

// universal
$text-selection-color = $dark-accent
$selected-text-color = $background
$tip-color = transparentify($accent, $background)
$info-color = transparentify($lite-accent, $background)
$warn-color = transparentify($dark-accent, $background)
$autofill-font-color = $dark-accent
$autofill-background = $background

// alt theme color
$alt-background = $lite-accent
$alt-font-color = $font-color
$alt-button-color = $alt-background
$alt-button-font-color = $dark-base-color
$alt-button-border-color = $alt-button-font-color
$alt-button-hover-color = $alt-button-border-color
$alt-button-hover-font-color = $alt-button-color
$alt-border-color = $border-color
$alt-link-color = $dark-base-color
$alt-visited-link-color = $dark-accent
$alt-gradient-color = $lite-accent

// inverse theme color
$inverse-background = $dark-base-color
$inverse-font-color = $base-offwhite
$inverse-button-color = $inverse-background
$inverse-button-font-color = $base-lite-gray
$inverse-button-border-color = $inverse-button-font-color
$inverse-button-hover-color = $inverse-button-border-color
$inverse-button-hover-font-color = $inverse-button-color
$inverse-border-color = alpha($base-offwhite, $transparency)

if $lite-accent-is-dark
  $inverse-link-color = mix($lite-base-color, $inverse-font-color, 20%)
  $inverse-visited-link-color = $inverse-link-color
else
  $inverse-link-color = $lite-accent

  if $accent-is-dark
    $inverse-visited-link-color = $inverse-link-color
  else
    $inverse-visited-link-color = $accent

