@require '../_colors/material'

$base-color = $red-lighten-1
$lite-base-color = $red-lighten-4
$dark-base-color = darken($red-darken-4, 60%)

$accent = $red-accent-2
$lite-accent = lighten($red-accent-1, 60%)
$med-accent = $red-accent-4
$dark-accent = darken($red-accent-4, 40%)

$base-alpha = alpha($base-color, 2%)
$base-white = blend($base-alpha, $white)
$base-offwhite = blend($base-alpha, $offwhite)
$base-lite-gray = blend($base-alpha, $lite-gray)
$base-med-gray = blend($base-alpha, $med-gray)
$base-gray = blend($base-alpha, $gray)
$base-dark-gray = blend($base-alpha, $dark-gray)
$base-black = blend($base-alpha, $black)
