$grey-lighten-5 = #FAFAFA
$grey-lighten-4 = #F5F5F5
$grey-lighten-3 = #EEEEEE
$grey-lighten-2 = #E0E0E0
$grey-lighten-1 = #BDBDBD
$grey = #9E9E9E
$grey-darken-1 = #757575
$grey-darken-2 = #616161
$grey-darken-3 = #424242
$grey-darken-4 = #212121

$white = $grey-lighten-5
$offwhite = $grey-lighten-4
$lite-gray = $grey-lighten-3
$med-gray = $grey-lighten-2
$silver = $grey-lighten-1
$silver-gray = $grey
$gray = $grey-darken-1
$dark-gray = $grey-darken-2
$black = $grey-darken-3
