global-reset()
border-box-html()
print-styles()
text-selection($text-selection-color, $selected-text-color)

h1
  h1()

h2
  h2()
  border-bottom $border-weight solid $border-color

  .inverse &
    border-bottom-color $inverse-border-color

h3
  h3()

h4
  h4()

h5
  h5()

h6
  h6()

html
  font-size 100%

body
  font-size $font-size
  line-height $line-height
  font-family $font-family
  color $font-color
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  position relative
  background $inverse-background

code
  font-family $font-mono
  font-size $mono-font-size

h1, h2, h3, h4, h5, h6
  font-family $font-title

h1, h2, h3, h4, h5, h6, p
  margin $quarter-headspace 0

h1, h2, h3
  padding-top $half-headspace

address
  margin-top $quarter-headspace

html, body
  @media screen
    height 100%
    overflow hidden

div
  clearfix()

table
  table()

.btn, button
  button($size: 'large', $text-color: $button-font-color)
  hover-color($button-hover-color)

.alt-btn, .alt-button
  button($alt-button-color, 'large', $alt-button-font-color)
  hover-color($alt-button-hover-color)

.inverse-btn, .inverse-button
  button($inverse-button-color, 'large', $inverse-button-font-color)
  hover-color($inverse-button-hover-color)

.disabled
  button-disabled()

+html5-inputs()
  input()
  font-size $font-size

input
  autofill($autofill-background, $autofill-font-color)

.field
  field: left

form .success
  input-success()

form .error
  input-error()

label
  label()

blockquote
  blockquote($base-color)
  margin-left $quarter-gutter
  padding-left $half-gutter

pullquote
  blockquote($base-color)
  display block
  margin $quarter-headspace 0 $quarter-headspace $full-gutter
  padding-left $half-gutter
  float right
  width $pull-quote-width

  @media $mobile
    border-left none
    margin 0
    padding-left 0
    width 100%

  font-size 125%

strong, bold, b
  bold()

em
  italic()

.small, small
  paragraph($small-font-size)
  color tint($font-color, 5%)
  opacity 0.85

.muted
  color tint($font-color, 5%)

  .inverse &
    color alpha($inverse-font-color, 0.7)

h1 a, h2 a, h4 a, p a, li a, span a, figcaption a, a.link, a.anchor, address a
  link($link-color, 'glow')

  .inverse &
    reset-link()
    link($inverse-link-color, 'lighten')

nav a:visited
  color $nav-link-color

nav h1 a:visited:hover
  color $nav-link-color

nav a
  link($nav-link-color, 'glow')

nav a.active
  color $nav-active-color
  bold()

.heading:hover .anchor
  display inline-block

.anchor:before
  content '#'

.anchor
  padding-right 10px
  margin-left -27px
  display none

a:visited
  color $visited-link-color

.breadcrumb a:visited, h2 a:visited
  color $link-color

.btn, button
  text-overflow ellipsis
  padding 14px

a.btn:visited
  color $button-font-color

a.alt-btn:visited
  color $alt-button-font-color

a.inverse-btn:visited
  color $inverse-button-font-color

p
  paragraph($font-size)

.big, big, .big p, big p
  font-size 115%

.xl, xl, .xl p, xl p
  font-size 125%

hr
  rule(alpha($base-color, .65))

ul
  ul()

ul.unstyled
  list-style none
  margin 0
  padding 0

ul.tl
  tl()

ol
  ol()

dt
  text-align left

img
  margin $half-headspace 0

  figure &
    margin 0

  &.fit
    column(1)
    max-width 100%

  &.headshot
    margin 0 $full-gutter $quarter-headspace 0
    max-width 25%
    min-width 2em
    border-radius 20px

    @media $handheld
      max-width 50%

  &.cover
    object-fit cover

iframe
  min-height 450px
  border 0
  frameborder 0

section
  background $background
  padding $full-headspace 0

  &.alt
    color $alt-font-color
    background $alt-background

  &.inverse
    color $inverse-font-color
    background $inverse-background

.parallax section
  background alpha($background, 0.8)
  text-shadow 2px 2px 2em $background

  &.alt
    color $alt-font-color
    background alpha($alt-background, 0.8)
    text-shadow 2px 2px 2em $alt-background

  &.inverse
    color $inverse-font-color
    background alpha($inverse-background, 0.8)
    text-shadow 2px 2px 2em $inverse-background

.one
  column(1)

.half
  column(1/2)

  &.stack
    column(1/2, $cycle: 2)

    @media $mobile
      stack()

  &.stack-tablet
    @media $tablet
      stack()

.third
  column(1/3)

  &.stack
    column(1/3, $cycle: 3)

    @media $mobile
      stack()

  &.stack-tablet
    @media $tablet
      stack()

.fourth
  column(1/4)

  &.stack
    column(1/4, $cycle: 4)

    @media $mobile
      stack()

  &.stack-tablet
    @media $tablet
      stack()

.two-thirds
  column(2/3)

  &.stack
    @media $mobile
      column(1)
      stack()

  &.stack-tablet
    @media $tablet
      stack()

.three-fourths
  column(3/4)

  &.stack
    @media $mobile
      column(1)
      stack()

  &.stack-tablet
    @media $tablet
      stack()

#container
  height 100%
  overflow auto

.container
  position relative
  center($container-width)

figure, .figure
  figure($border-color, 300)
  margin $quarter-headspace 0

.half-width
  max-width 50%

.factoid, .thumb
  stack()
  border-radius $border-radius
  column(1/3, $cycle: 3)

.media
  media: $full-gutter

.left
  float left

.right
  float right

.arrow
  icon-arrow($color: $divider-color)

.center
  text-align center !important

.mobile-center
  @media $mobile
    text-align center !important

.tablet-center
  @media $tablet
    text-align center !important

.handheld-center
  @media $mobile
    text-align center !important

  @media $tablet
    text-align center !important

.inline-list
  inline-list()

.centered
  center(100%)

.bordered-list
  ol('none')
  padding-left 0
  margin-left 0
  list-style none

  li
    border-bottom $border-weight solid $border-color

  li:last-child
    border-bottom none

.lower
  lowercase()

.upper
  uppercase()

.ligatures
  open-type-ligatures()

.ellipsis
  ellipsis()

.radio
  radio()

.raquo:after
  content '⟫' !important

.rsaquo:after
  content '❯' !important

.laquo:before
  content '⟪' !important

.lsaquo:before
  content '❮' !important

.raquo:after, .rsaquo:after, .laquo:before, .lsaquo:before
  display inline-block !important

.raquo:after, .rsaquo:after
  padding-left $half-gutter

.laquo:before, .lsaquo:before
  padding-right $half-gutter

.block
  display block
  width 100%

.inline
  display inline-block

.area
  area()

.rounded
  rounded()

.field
  field()

.clear
  clearfix()

.hidden
  display-none()

.hidden-slow
  max-height 0
  transition max-height .25s ease-out

.visible-slow
  max-height 20em
  transition max-height .25s ease-in
